
:host{
    display:block;
    height:100%;
}
.form-signin {
    position:relative;
    top:50%;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    transform:translateY(-50%);
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img{
    display: block;
    margin: 0 auto;
}